<body>

    <div class="contenedor">
        <section class="tarjetas">
            <div class="container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Catalogo.png">
                            <h3 class="texto">Catalogo</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Catalogo"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\pregunta.png">
                            <h3 class="texto">Preguntas</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Preguntas"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\respuesta.png">
                            <h3 class="texto">Respuestas</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Respuestas"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Personal.png">
                            <h3 class="texto">Personas</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Personal"> Ingresar </a>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\respuesta persona.png">
                            <h3 class="texto">Respuestas Personas</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/respuesta persona"> Ingresar </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</body>